/* general classes */
html {
    scroll-behavior: smooth;
}
body {
    /* lite-theme */
    /* background-color: #F1F2F6;  */
    /* color: #3D4859; */

    /* blue (dark) theme */
    background-color: #042C4F;
    color: white;
}
img {
    height: auto;
    width: 100%;
}
a {
    text-decoration: none;
}

.circle {
    background-color: white;
    border-radius: 100%;
}
.img-container > img {
    max-height: 100%;
    max-width: auto;
    margin: 0 auto;
}
/* actual classes */
.banner-section {
    margin-bottom: 1%;
    /* lite-theme */
    /* background-color: #3D629F; */

    /* blue (dark) theme */
    background-color: rgb(10, 25, 47);
    /* background-color: #004B75; */
}
.vert-centering-ctn {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aligned-img-txt-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#face {
    background-color: #97B2DE;
}
#about-card {
    height: 100%;
}
#about-card .name {
    color: #93c8d0;
    font-size: 2.5em; 
    margin-bottom: 0; 
}
#about-card .banner-sentence {
    font-style: italic; 
    font-size: 1.5em;
}
div.card-body {
    padding-top: 0;
    position: relative;
}
.container > div.row {
    margin-bottom: 2.5%;
}

#PROJECTS, #ABOUT-ME {
    color: #52A3EA;
}
#about-me-section .card-title {
    font-size: 1.75em;
}
#about-me-section .card-text {
    font-size: 1.25em;
}
#projects-section .row {   
    margin-bottom: 2%;
}
#projects-section .card-title {
    text-decoration: underline #52A3EA;
    color: white;
    font-size: 1.75em;
} 
#projects-section small {
    color: #93c8d0;
}
#projects-section .card-text {
    font-size: 1.25em;
}
#cc-logo {
    border: 1px solid #3D629F;
}
.col-md-9 {
    margin: 0 auto;
}

/* mobile-specific class changes */
@media (max-width: 480px) {
    #nav-items {
        flex-direction: row;
        display: none;
        /* float: right; */
    }
    .vert-centering-ctn {
        text-align: center;
        margin-bottom: 5%;
    }
    .vert-centering-ctn .col-6 {
        margin-top: 10%;
    }
    #about-me-section .col-5 {
        margin: 7% auto;
    }
    #projects-section .col-5 {
        margin: 7% auto;
    }
    #projects-section .col-11 {
        margin-bottom: 25%;
    }
    

}