html {
    background-color: #0d101e;
}
.header {
    text-align: center;
    height: 500px;
    font-family: monospace;
}
.circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    /* padding-top: 15%; */
}

#header-left {
    /* margin-top: 10em; */
    /* padding-top: 10em; */
    padding-left: 5%;
    padding-top: 15%;
    float: left;
    width: 15%;
}
#face {
    /* height: 600px; */
    width: 60%;
    float: left;
    padding-top: 5%;
}
#header-right {
    /* margin-top: 5em; */
    /* padding-top: 10em; */
    padding-right: 5%;
    padding-top: 15%;
    width: 15%px;
    float: left;
}

.rounded {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
}
/* .row {
    font-family: monospace;
    margin-bottom: 15%;
    float: left;
} */
.content {
    /* margin-top: 5em; */
    background-color: rgb(196, 204, 204);
    width: 30%;
    float: right;
}
